<div class="col-sm-6" ng-controller="resetPasswordController">
    <h4>Forgot Password</h4>
    <div class="alert alert-danger" ng-repeat="error in errors">
        <span>{{error}}</span>
    </div>
    <form name="forgotForm" ng-submit="Resending(forgotForm.$invalid)" role="form" novalidate>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="Email" ng-model="forgotPasswordEmail.Email" class="form-control" placeholder="Enter your account email" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" required />
            <div ng-messages="forgotForm.Email.$error" ng-if="forgotForm.$submitted" class="text-error">
                <div ng-message="required"><i class="fa fa-times-circle"></i>Email is required</div>
                <div ng-message="pattern"><i class="fa fa-times-circle"></i>Invalid Email</div>
            </div>
        </div>

        <button type="submit" ng-disabled="isPrcessing" class="btn btn-default">{{resendBtn}}</button>
    </form>
</div>