<div class="col-sm-6" ng-controller="resetPasswordController">
    <h4>Reset Password</h4>
    <div class="alert alert-danger" ng-repeat="error in errors">
        <span>{{error}}</span>
    </div>
    <form name="resetForm" ng-submit="Reseting(resetForm.$invalid)" role="form" novalidate>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" name="newPass" ng-model="resetPasswordModel.NewPassword" class="form-control" placeholder="Enter new password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/" required/>
            <div ng-messages="resetForm.newPass.$error" ng-if="resetForm.$submitted" class="text-error">
                <div ng-message="required"><i class="fa fa-times-circle"></i>New Password is required</div>
                <div ng-message="pattern"><i class="fa fa-times-circle"></i>Password must be one small one capital letter one special character one digit and at least 6 character</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password"  ng-model="resetPasswordModel.ConfirmPassword" name="ConfirmPass" class="form-control" placeholder="Enter confirm password" match-password="newPass" required/>
            <div ng-messages="resetForm.ConfirmPass.$error" ng-if="resetForm.$submitted" class="text-error">
                <div ng-message="required"><i class="fa fa-times-circle"></i>Confirm Password is required</div>
                <div ng-message="passwordMatch"><i class="fa fa-times-circle"></i>Password is not macth</div>
            </div>
        </div>
        <button type="submit" ng-disabled="isPrcessing" class="btn btn-default">{{resetBtn}}</button>
    </form>
</div>